<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
  	    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
     	<init-param>
        	<param-name>encoding</param-name>
        	<param-value>UTF-8</param-value>
    	</init-param>
    	<init-param>
        	<param-name>forceEncoding</param-name>
        	<param-value>true</param-value>
    	</init-param>
	</filter>

	<filter-mapping>
   		 <filter-name>CharacterEncodingFilter</filter-name>
   		 <url-pattern>/*</url-pattern>
	</filter-mapping>

  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterService</servlet-name>
  	<display-name>RegisterService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.RegisterService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChatService</servlet-name>
  	<display-name>ChatService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.ChatService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>webConfig</servlet-name>
  	<display-name>webConfig</display-name>
  	<description></description>
  	<servlet-class>com.babystep.config.webConfig</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChatRoomController</servlet-name>
  	<display-name>ChatRoomController</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.ChatRoomController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TodoListServlet</servlet-name>
  	<display-name>TodoListServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.TodoListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlaceRegister</servlet-name>
  	<display-name>PlaceRegister</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.PlaceRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HolidayController</servlet-name>
  	<display-name>HolidayController</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.HolidayController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DiaryPopupServlet</servlet-name>
  	<display-name>DiaryPopupServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.DiaryPopupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ScheduleService</servlet-name>
  	<display-name>ScheduleService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.ScheduleService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BabyService</servlet-name>
  	<display-name>BabyService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.BabyService</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>ImageDiaryServlet</servlet-name>
     <display-name>ImageDiaryServlet</display-name>
     <description></description>
     <servlet-class>com.babystep.controller.ImageDiaryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ScheduleListServlet</servlet-name>
  	<display-name>ScheduleListServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.ScheduleListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShareScheduleServlet</servlet-name>
  	<display-name>ShareScheduleServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.ShareScheduleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VaccineServlet</servlet-name>
  	<display-name>VaccineServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.VaccineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BabyageService</servlet-name>
  	<display-name>BabyageService</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.BabyageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<display-name>CommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BabyAgeServlet</servlet-name>
  	<display-name>BabyAgeServlet</display-name>
  	<description></description>
  	<servlet-class>com.babystep.controller.BabyAgeServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChatService</servlet-name>
  	<url-pattern>/ChatService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>webConfig</servlet-name>
  	<url-pattern>/webConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChatRoomController</servlet-name>
  	<url-pattern>/ChatRoomController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TodoListServlet</servlet-name>
  	<url-pattern>/TodoListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlaceRegister</servlet-name>
  	<url-pattern>/PlaceRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HolidayController</servlet-name>
  	<url-pattern>/HolidayController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DiaryPopupServlet</servlet-name>
  	<url-pattern>/DiaryPopupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ScheduleService</servlet-name>
  	<url-pattern>/ScheduleService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BabyService</servlet-name>
  	<url-pattern>/BabyService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ScheduleListServlet</servlet-name>
  	<url-pattern>/ScheduleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShareScheduleServlet</servlet-name>
  	<url-pattern>/ShareScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VaccineServlet</servlet-name>
  	<url-pattern>/VaccineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BabyageService</servlet-name>
  	<url-pattern>/BabyageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BabyAgeServlet</servlet-name>
  	<url-pattern>/BabyAgeServlet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
