<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.babystep.db.BabyMapper">

	<insert id="addBaby" parameterType="BabyDTO">
		INSERT INTO TB_BABY (
			BY_NAME, BY_BIRTHDATE, BY_GENDER, BY_AGE, USER_ID
		) VALUES (
			#{byName}, #{byBirthdate}, #{byGender}, #{byAge}, #{userId}
		)

	</insert>
	
	<select id="upbabyage" parameterType="map" resultType="String">
	SELECT FLOOR(MONTHS_BETWEEN(TO_DATE(#{selectedDate, jdbcType=VARCHAR}, 'YYYY-MM-DD'), BY_BIRTHDATE)) 
	FROM TB_BABY
	WHERE USER_ID = #{USER_ID} 
	</select>


</mapper>