<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babystep.db.BoardMapper">

	<!-- 게시판 글 작성 -->
	<insert id="writeBoard" parameterType="BoardDTO">
		<!-- parmeterType 결과값을 넣어줄 것인가 -->
		INSERT INTO TB_BOARD (
		BO_TITLE, BO_CONTENT, USER_ID, CREATED_AT,
		BO_FILENAME1, BO_FILENAME2,
		BO_FILENAME3, BO_FILENAME4
		) VALUES (
		#{BO_TITLE}, #{BO_CONTENT}, #{USER_ID}, SYSDATE,
		#{BO_FILENAME1} ,
		#{BO_FILENAME2}, #{BO_FILENAME3}, #{BO_FILENAME4} )
	</insert>
	<!-- 모든 게시글 조회 -->
	<!-- resultType 결과값을 어떤 타입으로 받을 것인가 -->
	<select id="allBoard" resultType="BoardDTO">
		SELECT
		b.BO_IDX, b.BO_TITLE,
		b.USER_ID, b.BO_CONTENT, b.BO_FILENAME1,
		b.BO_FILENAME2,
		b.BO_FILENAME3, b.BO_FILENAME4, b.CREATED_AT,
		b.USER_ID, b.BO_VIEWS,
		b.BO_LIKES,
		u.USER_NICK AS USER_NICK
		FROM
		TB_BOARD b
		JOIN
		TB_USER u ON
		b.USER_ID= u.USER_ID
		ORDER BY
		b.BO_IDX ASC
	</select>

	<!-- 게시글 상세 조회 -->
	<select id="detailBoard" parameterType="int"
		resultType="BoardDTO">
		SELECT
		b.BO_IDX, b.BO_TITLE, b.USER_ID, b.BO_CONTENT,
		b.BO_FILENAME1,
		b.BO_FILENAME2, b.BO_FILENAME3, b.BO_FILENAME4,
		b.CREATED_AT,
		b.USER_ID, b.BO_VIEWS, b.BO_LIKES,
		u.USER_NICK AS
		USER_NICK
		FROM
		TB_BOARD b
		JOIN
		TB_USER u ON b.USER_ID= u.USER_ID
		WHERE
		BO_IDX = #{BO_IDX}
	</select>

	<!-- 게시글 조회수 증가 -->
	<!-- resultType을 안 쓰는 이유가 값을 업데이트만 해 줄 뿐이지 값을 가져오지 않아서 사용하지 않음 따라서 select 
		문에서만 사용을 함 넣어 줄 값을 인트형으로 넣어주겠다 그것이 parameterType임 -->
	<update id="boardHit" parameterType="int">
		UPDATE TB_BOARD SET BO_VIEWS
		= BO_VIEWS + 1 WHERE BO_IDX = #{boIdx}
	</update>


	<!-- ***************** 검색 쿼리 추가 ***************** -->
	<select id="searchBoard" parameterType="map"
		resultType="BoardDTO">
		SELECT * FROM tb_board WHERE ${field} LIKE #{value}
	</select>

	


	


</mapper>
