<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babystep.db.DiaryPopupMapper">


  <!-- 일기 삽입 -->
  <insert id="insertdiary" parameterType="DiaryPopupDTO">
    INSERT INTO TB_DIARY (DI_TITLE, DI_CONTENT, DI_FILE1, DI_FILE2, CREATED_AT, USER_ID, DI_BABYNUMBER, DI_HEIGHT, DI_WEIGHT)
    VALUES (#{DI_TITLE}, #{DI_CONTENT}, #{DI_FILE1}, #{DI_FILE2}, #{CREATED_AT}, #{USER_ID}, #{DI_BABYNUMBER}, #{DI_HEIGHT}, #{DI_WEIGHT})
  </insert>

<select id="alldiary" parameterType="String" resultType="DiaryPopupDTO">
    SELECT * 
    FROM TB_DIARY 
    WHERE USER_ID = #{USER_ID}
    ORDER BY CREATED_AT DESC
</select>

  <!-- 특정 일기 상세 조회 -->
  <select id="detaildiary" parameterType="map" resultType="DiaryPopupDTO">
    SELECT *
     FROM TB_DIARY
    WHERE USER_ID = #{USER_ID} 
     AND CREATED_AT = TO_DATE(#{selectedDate},'YYYY-MM-DD')
     ORDER BY CREATED_AT DESC
  </select>

<select id = "babyage" parameterType="String" resultType ="int">
 SELECT FLOOR(MONTHS_BETWEEN(SYSDATE, b.BY_BIRTHDATE)) AS BY_AGE
FROM TB_BABY b
WHERE b.USER_ID = #{USER_ID}
</select>
	


</mapper>
