<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.babystep.db.ShareMapper">
 
	<insert id="addShare" parameterType="ShareDTO">
    	INSERT INTO TB_SCHEDULE_SHARE (
    		SCHE_IDX, SHARE_ID, USER_ID, CREATED_AT
    	) VALUES (
    		#{scheIdx}, #{shareId}, #{userId}, SYSDATE)
	</insert>

</mapper>