<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.babystep.db.VaccineMapper">

<select id="babyageselect" parameterType="Integer" resultType="VaccineDTO">
   SELECT * FROM TB_VACCINE WHERE VAC_AGE = #{babyage, jdbcType=INTEGER}
</select>

</mapper>