/* 등록 페이지 스타일 */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    margin-bottom: 15px;
}

form input[type="file"] {
    padding: 0;
}
