/* 전체 레이아웃 */
.title {
    width: 100vw;
    background-color: white; /* 기본 배경색 */
    color: black; /* 기본 텍스트 색상 */
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5% 0;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    font-size: 1.5vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 각 섹션이 타이틀바와 겹치지 않게 하기 위한 여백 추가 */
section {
    padding-top: 100px; /* 타이틀 바 높이만큼 패딩을 추가 */
}

/* 로고 섹션 */
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 12vw; /* 로고 크기 */
    height: auto;
    margin-left: 2vw; /* 좌측 간격 */
}

/* 네비게이션 링크 섹션 */
.nav-links {
    display: flex;
    gap: 70px; /* 링크 사이 간격 */
    align-items: center;
    margin-left: 4vw;
}

.nav-links a.com {
    padding: 0px 1vw;
    color: #333333;
    text-decoration: none;
    font-size: 1.5vw; /* 기본 폰트 크기 */
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.1s ease; /* 호버 애니메이션 */
}

.nav-links a.com:hover {
    color: rgb(255, 0, 0); /* 호버 시 텍스트 색상 */
}

/* 이미지 아이콘 섹션 */
.icon-links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 4vw; /* 우측 간격 */
    margin-left: 4vw; /* 우측 간격 */
}

.icon-links img {
    width: 30px; /* 아이콘 크기 */
    height: auto;
}

/* 다크 모드 스위치 스타일 */
.dark-mode-switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin-right: 2vw; /* 아이콘과의 간격을 줄이기 위해 왼쪽 여백을 약간만 설정 */
}

.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* 스위치 활성화 상태 */
input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .logo-image {
        width: 20vw; /* 작은 화면에서 로고 크기 */
    }

    .nav-links a.com {
        font-size: 4vw; /* 작은 화면에서 링크 폰트 크기 */
    }

    .icon-links img {
        width: 20px; /* 작은 화면에서 아이콘 크기 */
    }

    .title {
        flex-direction: column; /* 작은 화면에서 수직 정렬 */
        text-align: center;
    }

    .nav-links {
        justify-content: center; /* 링크 가운데 정렬 */
        margin-top: 10px; /* 링크와 로고 사이 간격 */
    }
}
