<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babystep.mapper.ChatRoomMapper">
    <select id="getAllRooms" resultType="ChatRoomDTO">
        SELECT ROOM_IDX, ROOM_TITLE, OPENED_AT, ROOM_LIMIT, USER_ID, ROOM_IMG
        FROM TB_CROOM
    </select>

    <select id="getRoomByIdx" parameterType="int" resultType="ChatRoomDTO">
        SELECT ROOM_IDX, ROOM_TITLE, OPENED_AT, ROOM_LIMIT, USER_ID, ROOM_IMG
        FROM TB_CROOM
        WHERE ROOM_IDX = #{ROOM_IDX}
    </select>

    <insert id="createRoom" parameterType="ChatRoomDTO">
        INSERT INTO TB_CROOM (ROOM_TITLE, OPENED_AT, ROOM_LIMIT, USER_ID, ROOM_IMG)
        VALUES (#{ROOM_TITLE}, SYSDATE, #{ROOM_LIMIT}, #{USER_ID}, #{ROOM_IMG})
    </insert>

    <update id="updateRoom" parameterType="ChatRoomDTO">
        UPDATE TB_CROOM
        SET ROOM_TITLE = #{ROOM_TITLE},
            ROOM_LIMIT = #{ROOM_LIMIT},
            ROOM_IMG = #{ROOM_IMG}
        WHERE ROOM_IDX = #{ROOM_IDX}
    </update>

    <delete id="deleteRoom" parameterType="int">
        DELETE FROM TB_CROOM WHERE ROOM_IDX = #{ROOM_IDX}
    </delete>
</mapper>