<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babystep.db.ChatRoomMapper">

    <select id="getAllRooms" resultType="ChatRoomDTO">
        SELECT ROOM_IDX as roomIndex, ROOM_TITLE as roomTitle, OPENED_AT as openedAt, ROOM_LIMIT as roomLimit,
         USER_ID as userId, ROOM_IMG as roomImg
        FROM TB_CROOM
    </select>

    <select id="getRoomByTitle" parameterType="String" resultType="ChatRoomDTO">
    	SELECT ROOM_IDX as roomIndex, ROOM_TITLE as roomTitle, OPENED_AT as openedAt, 
          	 ROOM_LIMIT as roomLimit, USER_ID as userId, ROOM_IMG as roomImg
    	FROM TB_CROOM
    	WHERE ROOM_TITLE = #{ROOM_TITLE}
	</select>


    <insert id="createRoom" parameterType="ChatRoomDTO">
        INSERT INTO TB_CROOM (ROOM_TITLE, OPENED_AT, ROOM_LIMIT, USER_ID, ROOM_IMG)
        VALUES (#{roomTitle}, SYSDATE, #{roomLimit}, #{userId}, #{roomImg})
    </insert>

    <update id="updateRoom" parameterType="ChatRoomDTO">
        UPDATE TB_CROOM
        SET ROOM_TITLE = #{roomTitle},
            ROOM_LIMIT = #{roomLimit},
            ROOM_IMG = #{roomImg}
        WHERE ROOM_IDX = #{roomIdx}
    </update>

    <delete id="deleteRoom" parameterType="int">
        DELETE FROM TB_CROOM WHERE ROOM_IDX = #{roomIdx}
    </delete>
</mapper>