<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.babystep.db.ChatMapper">

	<!-- 채팅 시작 -->
	<insert id="insertChat" parameterType="ChatDTO">
    	INSERT INTO TB_CHAT (USER_ID, CHAT_CONTENT, CHATTED_AT)
    	VALUES (#{userId}, #{chatContent}, SYSDATE)
	</insert>
	
	<!-- 채팅방 선택 -->
	<select id="selectChatByRoom" parameterType="int" resultType="ChatDTO">
    	SELECT * FROM TB_CHAT WHERE ROOM_IDX = #{roomIdx} ORDER BY CHATTED_AT ASC
	</select>

</mapper>