<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper>
  <insert id="insertdiary" parameterType="DiaryPopupDTO">
  INSERT INTO TB_DIARY (DI_IDX, DI_TITLE, DI_CONTENT, DI_FILE1,
	DI_FILE2, CREATED_AT, USER_ID, DI_BABYNUMBER, DI_HEIGHT, DI_WEIGHT)
  VALUES(TB_DIARY_SEQ.nextval, #{DI_TITLE}, #{DI_CONTENT}, #{DI_FILE1},
	#{DI_FILE2}, #{CREATED_AT}, #{USER_ID}, #{DI_BABYNUMBER}, #{DI_HEIGHT}, #{DI_WEIGHT} )
  </insert>
  
  <select id="alldiary" resultType="DiaryPopupDTO">
  SELECT * 
    FROM TB_DIARY 
   WHERE USRE_ID = #{USER_ID}
  </select>
  
 	<select id="detaildiary" resultType="DiaryPopupDTO">
 	SELECT *
 	  FROM TB_DIARY
 	 WHERE DI_IDX = #{DI_IDX} 
 	</select>
  </mapper>