<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babystep.db.HolidayMapper">

    <!-- 특정 연도와 월의 공휴일 조회 -->
    <select id="getHolidaysByMonth" resultType="HolidayDTO">
        SELECT HOLIDAY_DATE, HOLIDAY_NAME 
        FROM TB_HOLIDAYS
        WHERE EXTRACT(YEAR FROM HOLIDAY_DATE) = #{year}
        AND EXTRACT(MONTH FROM HOLIDAY_DATE) = #{month}
    </select>

</mapper>
