@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.place-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.place-card img {
    width: 100%;
    border-radius: 8px;
}

.place-card h2 {
    margin: 10px 0;
}

.place-card p {
    margin: 5px 0;
}

.register-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#loading {
    text-align: center;
    padding: 10px;
}
